In [1]:
import os
import numpy as np
import pandas as pd
from Colpo.dataset.main_dataframe import generate_raw_dataframe, remove_duplicates, add_labels, category_table

In [2]:
data_root = "D:\Data\Cropped Folder"

In [3]:
# true_data, duplicated = remove_duplicates(data_root)

In [4]:
raw_data, hpv_data, bad_data = generate_raw_dataframe(data_root)

In [5]:
raw_data.head()

,Patient ID,jpg_file,xlsx_file,Date,Adeno:conclusive,AA:Color,AA:Margin of aceto acid,AA:Surface,AA:Size,Vessels:Punctuation,...,EXTRA INFO,Age,Smoking,Drink,SD,Married,#Partner,Pop,Abnormality(Impression),Abnormality(BX)
0,11.150,11.150\11_150_A.TIF,11.150.xlsx,1403.3,No,Snowy White,Geographical,Flat,Small,None,...,NaN,33,NaN,NaN,NaN,Yes,NaN,NILM,NaN,NaN
1,11.224,11.224\11_224_A.JPG,11.224.xlsx,1403.11,Yes,Snowy White,Geographical,Flat,Large,Fine,...,NaN,38,No,No,32,Yes,1,NILM,NaN,NaN
2,11.864,11.864\11_864_A.JPG,11.864.xlsx,1403.11,Yes,Pink,None,None,None,None,...,NaN,27,NaN,NaN,NaN,NaN,NaN,NILM,NaN,NaN
3,12.112,12.112\12_112_A.JPG,12.112.xlsx,1403.06,No,Snowy White,Geographical,Flat,Small,None,...,NaN,30,NaN,NaN,17,NaN,NaN,NILM,NaN,NaN
4,12.354,12_354\12_354_A1.JPG,12.354.xlsx,1403.1,No,Pink,None,None,None,None,...,NaN,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
len(raw_data)

415

In [7]:
len(bad_data)

49

In [8]:
# raw_data_0 = pd.read_excel(os.path.join(r"D:\Data\Meta\raw_data.xlsx"), keep_default_na=False, na_values=[""], dtype= str)

In [9]:
# not_here = []
# for id in raw_data_0['Patient ID']:
#     if id not in raw_data['Patient ID'].to_list():
#         not_here.append(id)

In [10]:
# not_there = []
# for id in raw_data['Patient ID']:
#     if id not in raw_data_0['Patient ID'].to_list():
#         not_there.append(id)

In [11]:
# ex_file = pd.read_excel(os.path.join(data_root, '19.109', '19.109.xlsx'), keep_default_na=False, na_values=[""], dtype= str)

In [12]:
raw_data = add_labels(raw_data)

In [13]:
cat_tabel = category_table(raw_data)

In [14]:
cat_tabel.to_excel('category_table.xlsx')

In [29]:
def categories_as_table(df: pd.DataFrame):
    rows = []

    for col in df.columns:
        counts = df[col].value_counts(dropna=False)
        for k, v in counts.items():
            rows.append({
                "column": col,
                "category": "NaN" if pd.isna(k) else k,
                "count": int(v)
            })

    return pd.DataFrame(rows)

In [30]:
cat_df = categories_as_table(raw_data)
print(cat_df)

                       column category  count
0                  Patient ID    19.95      1
1                  Patient ID   11.150      1
2                  Patient ID   11.224      1
3                  Patient ID   11.864      1
4                  Patient ID   12.112      1
...                       ...      ...    ...
2525                      Pop      NaN      1
2526                      Pop      NaN      1
2527                      Pop      NaN      1
2528  Abnormality(Impression)      NaN    415
2529          Abnormality(BX)      NaN    415

[2530 rows x 3 columns]

In [16]:
raw_data.columns

Index(['Patient ID', 'jpg_file', 'xlsx_file', 'Date', 'Adeno:conclusive',
       'AA:Color', 'AA:Margin of aceto acid', 'AA:Surface', 'AA:Size',
       'Vessels:Punctuation', 'Vessels:Mosaics', 'Vessels:cufed gland',
       'Vessels:Atypical', 'Vessels:tree like vessels(on nabotian cyst)',
       'Logul', 'Erossion:lesion', 'Erossion:clock', 'Location of BX:BX1',
       'Location of BX:BX2', 'Diagnosis:Impression', 'Diagnosis:BX1',
       'Diagnosis:BX2', 'Diagnosis:ECC', 'Diagnosis:POLYPS',
       'Diagnosis:INFLMATION', 'Diagnosis:ATROPHIC', 'EXTRA INFO', 'Age',
       'Smoking', 'Drink', 'SD', 'Married', '#Partner', 'Pop',
       'Abnormality(Impression)', 'Abnormality(BX)'],
      dtype='object')

In [23]:
col = 'Smoking'
cats = raw_data[col].value_counts(dropna=True)
cats

Smoking
No     173
Yes    107
Name: count, dtype: int64

In [20]:
raw_data[col].unique(dropna=False)

TypeError: Series.unique() got an unexpected keyword argument 'dropna'

In [22]:
raw_data[col].apply(type).value_counts()

Smoking
<class 'str'>              280
<class 'numpy.float64'>    127
<class 'float'>              8
Name: count, dtype: int64